{% extends "base.html" %}
{% block content %}
<h5>D&D Character Backstory Generator</h5>

    <form action="" method="POST">
        
        {{ form.hidden_tag() }}
        <p>
            {{ form.race.label }} {{ form.race() }}
        </p>
        <p>
            {{  form.clazz.label }} {{ form.clazz() }}
        </p>
        <p>
            {{ form.submit() }} <br>
        </p>
    </form>

    <h4>{{ backstory['title'] }}</h4>
    <pre>
        {% if backstory != {} %}
        {{ backstory['Parents']['title']}} {{backstory['Parents']['text']}}
        {{ backstory['Birthplace']['title']}} {{backstory['Birthplace']['text']}}
        {{ backstory['Siblings']['title']}} {{backstory['Siblings']['text']}}
        {{ backstory['Family']['title']}} {{backstory['Family']['text']}}
        {% endif %}
    </pre>

{% endblock %}