{% extends "base.html" %}
{% block content %}
<h5>D&D Character Backstory Generator</h5>

    <form action="" method="POST">
        
        {{ form.hidden_tag() }}
        <p>
            {{ form.race.label }} {{ form.race() }}
        </p>
        <p>
            {{  form.clazz.label }} {{ form.clazz() }}
        </p>
        <p>
            {{  form.cha.label }} {{ form.cha() }}
        </p>
        <p>
            {{  form.wis.label }} {{ form.wis() }}
        </p>
        <p>
            {{ form.submit() }} <br>
        </p>
    </form>

    <h4>{{ backstory['title'] }}</h4>
    <ul>
        {% if backstory != {} %}
            {% for key in manifest %}
                <li>{{ backstory[key]['title']}} {{backstory[key]['text']}}</li>
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}